@charset "utf-8";
/* CSS Document */
/*
		Author: Iwebux
		Description: table styles
		Copyright: iwebux.com
*/

/*body
{
	margin:0;
	padding:0;
	background:#f4f4f4;
}*/



table
{
	margin:10px auto;
/*	width:auto;*/
	border:1px solid #646464;
	position:relative;
        height: auto;
}

tr,td
{
    font-size: 10px;
	text-align:center;
	border: 1px solid #ccc;
        height: auto;
}

/*tr
{
	background:#99F;
}*/

.heading{background:#ccc;}

/*.alt
{
	background:#C4C4FF;
}*/