/* 
    Document   : frontpage
    Created on : Dec 14, 2011, 2:43:06 PM
    Author     : Vivek
    Description:
        Purpose of the stylesheet follows.
*/



/*#signup{
    float: right;
  border-left-color: #e7e6d8;
  border-left-width: 10px;
  border-left-style: dotted;
  border-right-color: #e7e6d8;
  border-right-style: dotted;
  border-right-width: 10px;
  margin-right: 170px;
    margin-top: 20px;
}*/
#btn{
    float: left;
    margin-left: 570px;
}
#login{
    margin-left: 40px;
}
.back {
  background: #DEDEDE;
  background: -moz-linear-gradient(top, #FFF, #3e5);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#3e5));
  border: 1px solid #D6D6D6;
  color: #666;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#3e585a');
  font: bold 1.3em/22px Helvetica, Arial, sans-serif;
  /*height: 22px;*/
  height: 500px;
  padding: 0 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 0px;
    position: absolute;
    bottom: 0px;
}
.back:HOVER {
  background: #BEBEBE;
  background: -moz-linear-gradient(top, #DDD, #666);
  background: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#666));
  border: 1px solid #B6B6B6;
  color: #444;
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#DDDDDD', EndColorStr='#666666');
  text-shadow: 0 1px 0 #DDD;
}
