#logout{
    float: right;
    margin-top: -40px;
}
#profile{
    float: right;
    margin-top: -40px;
    margin-right: 50px;
}
#hr{
    margin-top: 50px;
}
#topbar{
    margin-top: 0px;
    height: 80px;
    background-attachment:scroll;
    /*background-image: url(images/logo5.jpg);*/
    background-color: white;
    color: greenyellow;}
    #likes{
    
}
#plantime{
     float: right;
    margin-top: -40px;
    margin-right: 110px;
}
#zero{
    width: 1100px;
    background-color: #e6e7d8;
    border-color: #e6e7d8;
    border-width: 1px;
    border-style: solid; 
    margin: auto;
    height: auto;
    }
#one{
    margin: auto;
    width: 1096px;
    height: 30px;
    background-color: white;
    border-color: #e6e7d8;
    border-width: 2px;
    border-style: solid;
    position: fixed;
        z-index: 1000;
    }
#two{
    width: 196px;
    float: left;
    background-color: white;
    border-color: #e6e7d8;
    border-width: 2px;
    border-style: solid;
    height: auto;
    position: relative;
    top: 30px;
    }
#three{
    width: 898px;
    float: left;
    background-color: white;
    border-color: #e6e7d8;
    border-width: 2px;
    border-style: solid;
    border-left: 0;
    height: auto;
    position: relative;
    top: 30px;
    }
    #searchbar{
        position: absolute;
        top: 10px;
        right: 200px;
        margin: auto;
        width: 350px;
    }
/*    #txt1{
        
        position: absolute;
    right: 400px;
    top: 38px;
    width: 300px;
}*/
/*#four{
    width: 196px;
    float: left;
    background-color: white;
   border-color: #e6e7d8;
    border-width: 2px;
    border-style: solid; 
    height: auto;
    }*/
/*    .search{
        float: right;
        margin-top: 20;
        margin-right: 300;
    }*/
    body{
    margin: 0px;
}
    
/*
#urwall{
    margin-left: 600px;
    width: 100px;
}
#personal{
    margin-top: -50px;
    margin-left: 750px;
    width: 100px;
}
#home{
    margin-top: -100px;
    margin-left: 900px;
    width: 100px;
}
#profile{
   margin-top: -50px;
    margin-left: 1000px;
    width: 100px;
}    */